In [1]:
### Si données locales
library(Matrix)
u.user <- read.csv(file='u.user.csv', sep='|', header=T)
u.item <- read.csv(file='u.item.csv', sep='|', header=T)
u.data <- read.csv(file='u.data.csv', sep='|', header=T)

m.sparse <- sparseMatrix(u.data[,1],u.data[,2],x=u.data[,3])
rownames(m.sparse) <- paste('u', 1:nrow(m.sparse), sep='')
colnames(m.sparse) <- paste('i', 1:ncol(m.sparse), sep='')

m <- as.matrix(m.sparse)                # transforme en matrice ordinaire
m.na <- m
m.na[m.na==0] <- NA

# Cosinus normal des lignes d'une matrice
matrix.cos <- function(m) {
     (m %*% t(m)) / ( t(matrix(sqrt(rowSums(m^2)),nrow(m),nrow(m)))
                    * (sqrt(rowSums(m^2))) )
}
# on normalise les ages
u.user.norm <- u.user
u.user.norm$age = (u.user.norm$age - min(u.user.norm$age)) / (max(u.user.norm$age) - min(u.user.norm$age))

# on normalise les votes
u.data.norm <- u.data
u.data.norm$rating = (u.data.norm$rating - min(u.data.norm$rating)) / (max(u.data.norm$rating) - min(u.data.norm$rating))

m.na.norm <- m.na/5
m.norm <- m/5

In [2]:
v.u <- merge(u.data, u.user, by.x='user.id', by.y='id')

In [3]:
v.ub <- transform(v.u, rating=sapply(v.u$rating, function(x) if(x > 3) 'like' else 'dislike'),
                       age=sapply(v.u$age, function(x) if(x>30) 'old' else 'young'))
v.ub$age <- factor(v.ub$age)
v.ub$rating <- factor(v.ub$rating)
u.user <- transform(u.user, age=sapply(u.user$age, function(x) if(x>30) 'old' else 'young'))
u.user$age <- factor(u.user$age)
v.job <- aggregate(job ~ rating + item.id, v.ub, table)
v.age <- aggregate(age ~ rating + item.id, v.ub, table)
v.gender <- aggregate(gender ~ rating + item.id, v.ub, table)

In [9]:
odds.item.g.e <- function(item.id, job, gender, age) {
    ## using globals v.job=v.job, v.age=v.age, v.gender=v.gender
    ## Odds ratio for job, gender, and age
    ## À noter la correction de +1 au nominateur et dénominateur
    top <- v.job[v.job$item.id==item.id & v.job$rating=='like',]$job[,job]
    if (length(top)==0) {top <- 1}
    if (top==0) {top <- 1}       
    e.job <- (top)/(sum(v.ub$rating=='like' & v.ub$item.id==item.id)+1)
    
    
    top <- v.job[v.job$item.id==item.id & v.job$rating=='dislike',]$job[,job]
    if (length(top)==0) {top <- 1}
    if (top==0) {top <- 1}       
    en.job <- (top)/(sum(v.ub$rating=='dislike' & v.ub$item.id==item.id)+1)


    top <-v.gender[v.gender$item.id==item.id & v.gender$rating=='like',]$gender[,gender]
    if (length(top)==0) {top <- 1 }   
    if (top==0) {top <- 1}       
    e.gender <- (top)/(sum(v.ub$rating=='like' & v.ub$gender==gender)+1)
    
    
    top <-v.gender[v.gender$item.id==item.id & v.gender$rating=='dislike',]$gender[,gender]
    if (length(top)==0) {top <- 1} 
    if (top==0) {top <- 1}       
    en.gender <- (top)/(sum(v.ub$rating=='dislike' & v.ub$gender==gender)+1)

    top <-v.age[v.age$item.id==item.id & v.age$rating=='like',]$age[,age]
    if (length(top)==0) {top <- 1} 
    if (top==0) {top <- 1}    
    e.age <- (top)/(sum(v.ub$rating=='like' & v.ub$age==age)+1)
    
    top <-v.age[v.age$item.id==item.id & v.age$rating=='dislike',]$age[,age]
    if (length(top)==0) {top <- 1} 
    if (top==0) {top <- 1}      
    en.age <- (top)/(sum(v.ub$rating=='dislike' & v.ub$age==age)+1)

    OR.h <- (sum(v.ub$rating=='like')+1)/(sum(v.ub$rating=='dislike')+1)
    new.val <- 1
    o <- 1
    o <- OR.h*(e.job/en.job)*(e.gender/en.gender)*(e.age/en.age)
    o <- o/(1+o)
    if (o <= 0.5) {
        new.val <- 1+4*o
    } else {
        new.val <- 3+4*(o-0.5)
    }
    return(new.val)
}

odds.item.g.e(3,'technician','M','young')

technician
  3.954823

In [10]:
head(u.user)

  id age   gender job        zip
1 1  young M      technician 85711
2 2  old   F      other      94043
3 3  young M      writer     32067
4 4  young M      technician 43537
5 5  old   F      other      15213
6 6  old   M      executive  98101

In [11]:
new.m <- m
ptm <- proc.time()

for (i in seq_len(943)){
    job <- u.user$job[u.user$id==i]
    gender <- u.user$gender[u.user$id==i]
    age <- u.user$age[u.user$id==i]
    for (j in seq_len(1682)){
        new.m[i,j] <- odds.item.g.e(j,job,gender,age)
    }
}
proc.time() - ptm

   user  system elapsed
 102.97   24.82  133.18

In [102]:
j

[1] 3

In [101]:
i <-1
job <- u.user$job[u.user$id==i]
gender <- u.user$gender[u.user$id==i]
age <- u.user$age[u.user$id==i]
job

[1] technician
21 Levels: administrator artist doctor educator engineer ... writer

In [ ]:
odds.item.g.e(i,job,gender,age)

In [73]:
print(c(v.job[v.job$item.id==103 & v.job$rating=='like',]$job[,job])+integer(1))

integer(0)

In [67]:
print(numeric(0)+1)

numeric(0)

In [86]:
length(123)

[1] 1