In [4]:
### Si donn√©es locales
library(Matrix)
u.user <- read.csv(file='u.user.csv', sep='|', header=T)
u.item <- read.csv(file='u.item.csv', sep='|', header=T)
u.data <- read.csv(file='u.data.csv', sep='|', header=T)

m.sparse <- sparseMatrix(u.data[,1],u.data[,2],x=u.data[,3])
rownames(m.sparse) <- paste('u', 1:nrow(m.sparse), sep='')
colnames(m.sparse) <- paste('i', 1:ncol(m.sparse), sep='')

m <- as.matrix(m.sparse)                # transforme en matrice ordinaire
m.na <- m
m.na[m.na==0] <- NA

# Cosinus normal des lignes d'une matrice
matrix.cos <- function(m) {
     (m %*% t(m)) / ( t(matrix(sqrt(rowSums(m^2)),nrow(m),nrow(m)))
                    * (sqrt(rowSums(m^2))) )
}
# on normalise les ages
u.user.norm <- u.user
u.user.norm$age = (u.user.norm$age - min(u.user.norm$age)) / (max(u.user.norm$age) - min(u.user.norm$age))

# on normalise les votes
u.data.norm <- u.data
u.data.norm$rating = (u.data.norm$rating - min(u.data.norm$rating)) / (max(u.data.norm$rating) - min(u.data.norm$rating))

m.na.norm <- m.na/5
m.norm <- m/5

In [5]:
mae <- function(m1, m2) mean(abs(m1 - m2), na.rm=T)

In [6]:
# merge users and ratings
names(u.user)<- c('user.id','age','gender','job')
u.user <- u.user[,c(-5)]
head(u.user)

names(u.data)<- c('user.id','movie.id','rating')
u.data <- u.data[,c(-4)]
head(u.data)

u.item <- u.item[,c(-2,-3,-4,-5)]
head(u.item)

u.r <- merge(u.user, u.data, by = "user.id")
head(u.r)
# merge userRating with movie to have actual movie titles instead of ids
u.r.v <- merge(u.r, u.item, by = "movie.id")
head(u.r.v)

  user.id age gender job
1 1       24  M      technician
2 2       53  F      other
3 3       23  M      writer
4 4       24  M      technician
5 5       33  F      other
6 6       42  M      executive

  user.id movie.id rating
1 196     242      3
2 186     302      3
3  22     377      1
4 244      51      2
5 166     346      1
6 298     474      4

  movie.id unknown Action Adventure Animation Children.s Comedy Crime
1 1        0       0      0         1         1          1      0
2 2        0       1      1         0         0          0      0
3 3        0       0      0         0         0          0      0
4 4        0       1      0         0         0          1      0
5 5        0       0      0         0         0          0      1
6 6        0       0      0         0         0          0      0
  Documentary Drama Fantasy Film.Noir Horror Musical Mystery Romance Sci.Fi
1 0           0     0       0         0      0       0       0       0
2 0           0     0       0         0      0       0       0       0
3 0           0     0       0         0      0       0       0       0
4 0           1     0       0         0      0       0       0       0
5 0           1     0       0         0      0       0       0       0
6 0           1     0       0         0      0       0       0       0
  Thriller War Western
1 0        0   0
2 1        0   0
3 1        0   0
4 0        0   0
5 1        0   0
6 0        0   0

  user.id age gender job        movie.id rating
1 1       24  M      technician 259      1
2 1       24  M      technician 264      2
3 1       24  M      technician 194      4
4 1       24  M      technician 183      5
5 1       24  M      technician  40      3
6 1       24  M      technician 226      3

  movie.id user.id age gender job       rating unknown Action Adventure
1 1        918     40  M      scientist 3      0       0      0
2 1        684     28  M      student   4      0       0      0
3 1        660     26  M      student   3      0       0      0
4 1        339     35  M      lawyer    5      0       0      0
5 1        699     44  M      other     3      0       0      0
6 1         94     26  M      student   4      0       0      0
  Animation ... Fantasy Film.Noir Horror Musical Mystery Romance Sci.Fi
1 1         ... 0       0         0      0       0       0       0
2 1         ... 0       0         0      0       0       0       0
3 1         ... 0       0         0      0       0       0       0
4 1         ... 0       0         0      0       0       0       0
5 1         ... 0       0         0      0       0       0       0
6 1         ... 0       0         0      0       0       0       0
  Thriller War Western
1 0        0   0
2 0        0   0
3 0        0   0
4 0        0   0
5 0        0   0
6 0        0   0

In [7]:
library(randomForest)

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

In [10]:
formula <- as.factor(rating) ~ .

In [9]:
new.m.cv <- function(dimRedu){
# matrice diagonale pour r√©duire les matrices originales
m.d2 <- diag(c(m.svd$d[1:dimRedu],rep(0,length(m.svd$d)-dimRedu)))
# nouvelle matrice bas√©e sur les deux premi√®res dimensions uniquement
m.svd2 <- round((m.svd$u %*% m.d2 %*% t(m.svd$v)),2)
mae(m.svd2[i.test.c], m.na[i.test.c])
    }
to.plot <- c()

In [ ]:
i.observed <- dim(u.r.v)[1]
set.seed(5)
i.hasard <- sample(seq(1,i.observed,1), i.observed)
fold.size <- round(length(i.hasard) / 5)
i.false <- rep(FALSE, dim(u.r.v)[1])
for (i in 1:5){
fold.number <- i

## Index bool√©en pour les cellules de test et d'entra√Ænement
i.test.b <- i.false
## Les cellules index√©es du replis correspondant sont fix√©es √† TRUE pour le test...
i.test.b[ i.hasard[((fold.number-1) * fold.size):((fold.number) * fold.size)] ] <- TRUE
    

## ...et √† FALSE pour l'entra√Ænement
i.train.b <-  !i.test.b
u.r.v.train <- u.r.v[i.train.b,]
u.r.v.test <- u.r.v[i.test.b,]

rf <- randomForest(formula, data = u.r.v.train, ntree = 10)
new.m <- m
i.test.c <- rep(FALSE,943*1682)
for (j in seq_len(fold.size)){
    new.m[u.r.v.test[j,2],u.r.v.test[j,1]]<-0
    i.test.c[943*(u.r.v.test[j,1]-1)+u.r.v.test[j,2]]<-TRUE
}
for (k in seq_len(943)){
    for (l in seq_len(1682)){
        if (new.m[k,l]==0){
            new.m[k,l]<- predict(rf, newdata = cbind(u.item[l,],u.user[k,])) 
        }
    }
}
write.table(new.m,file=paste("rF2_", toString(i), ".csv", sep = "")) # drops the rownames
write.table(i.test.c,file=paste("rFTestc2_", toString(i), ".csv", sep = "")) # drops the rownames
write.table(i.test.b,file=paste("rFTestb2_", toString(i), ".csv", sep = "")) # drops the rownames
m.train <- new.m
m.train <- m.train
m.svd <- svd(m.train)
to.plot<-rbind(to.plot,unlist(lapply(seq(22), new.m.cv)))
    }

In [1]:
table = list()
test = list()

In [2]:
table[[1]] <- read.table(file=paste("rF1_1.csv", sep = "")) # drops the rownames
table[[2]] <- read.table(file=paste("rF1_2.csv", sep = "")) # drops the rownames
table[[3]] <- read.table(file=paste("rF1_3.csv", sep = "")) # drops the rownames
table[[4]] <- read.table(file=paste("rF1_4.csv", sep = "")) # drops the rownames
table[[5]] <- read.table(file=paste("rF1_5.csv", sep = "")) # drops the rownames

test[[1]] <- read.table(file=paste("rFTestc1_1.csv", sep = "")) # drops the rownames
test[[2]] <- read.table(file=paste("rFTestc1_2.csv", sep = "")) # drops the rownames
test[[3]] <- read.table(file=paste("rFTestc1_3.csv", sep = "")) # drops the rownames
test[[4]] <- read.table(file=paste("rFTestc1_4.csv", sep = "")) # drops the rownames
test[[5]] <- read.table(file=paste("rFTestc1_5.csv", sep = "")) # drops the rownames

In [10]:
cv.b <- c()
to.plot <- c()
for (i in 1:5){
m.train <- data.matrix(table[[i]])
i.test.c <- unlist(test[[i]])
print(mae(m.train[i.test.c],m.na[i.test.c]))
m.svd <- svd(m.train)
to.plot<-rbind(to.plot,unlist(lapply(seq(22), new.m.cv)))
cv.b <- c(cv.b, mae(m.train[i.test.c],m.na[i.test.c]))
    }

[1] 0.81275
[1] 0.828
[1] 0.8174
[1] 0.81555
[1] 0.8102

In [11]:
to.plot<-apply(to.plot,2,unlist)

In [12]:
sdev <- apply(to.plot,2,sd) 
avg <- colMeans(to.plot)
x <- 1:length(avg)

In [14]:
plot(x,colMeans(to.plot),ylim=range(c(avg-sdev, avg+sdev)),pch=19, xlab="Dimensions", ylab="MAE +/- SD",
    main="Random Forest"
)
# hack: we draw arrows but with very special "arrowheads"
arrows(x, avg-sdev, x, avg+sdev, length=0.05, angle=90, code=3)

ERROR: Error in png(tf, width, height, "in", pointsize, bg, res, antialias = antialias): unable to start png() device

Plot with title "Random Forest"

In [ ]:
write.table(avg, file="out/total/RF.csv")

In [15]:
avg

 [1] 0.8066036 0.8030098 0.7995978 0.7988269 0.7988691 0.7985776 0.7984156
 [8] 0.7983720 0.7983108 0.7981063 0.7983487 0.7983757 0.7987115 0.7985772
[15] 0.7982933 0.7983824 0.7984002 0.7984742 0.7985333 0.7987750 0.7990491
[22] 0.7988038

In [17]:
mean(cv.b)

[1] 0.81678