In [2]:
### Si donn√©es locales
library(Matrix)
u.user <- read.csv(file='u.user.csv', sep='|', header=T)
u.item <- read.csv(file='u.item.csv', sep='|', header=T)
u.data <- read.csv(file='u.data.csv', sep='|', header=T)

m.sparse <- sparseMatrix(u.data[,1],u.data[,2],x=u.data[,3])
rownames(m.sparse) <- paste('u', 1:nrow(m.sparse), sep='')
colnames(m.sparse) <- paste('i', 1:ncol(m.sparse), sep='')

m <- as.matrix(m.sparse)                # transforme en matrice ordinaire
m.na <- m
m.na[m.na==0] <- NA

# Cosinus normal des lignes d'une matrice
matrix.cos <- function(m) {
     (m %*% t(m)) / ( t(matrix(sqrt(rowSums(m^2)),nrow(m),nrow(m)))
                    * (sqrt(rowSums(m^2))) )
}

In [3]:
# on normalise les ages
u.user.norm <- u.user
u.user.norm$age = (u.user.norm$age - min(u.user.norm$age)) / (max(u.user.norm$age) - min(u.user.norm$age))

# on normalise les votes
u.data.norm <- u.data
u.data.norm$rating = (u.data.norm$rating - min(u.data.norm$rating)) / (max(u.data.norm$rating) - min(u.data.norm$rating))

m.na.norm <- m.na/5
m.norm <- m/5

In [19]:
# merge users and ratings
names(u.user)<- c('user.id','age','gender','job','zip')
names(u.data)<- c('user.id','movie.id','rating','ts')

u.r <- merge(u.user, u.data, by = "user.id")
# merge userRating with movie to have actual movie titles instead of ids
u.r.v <- merge(u.r, u.item, by = "movie.id")
u.r.v<-u.r.v[,c(-6,-8,-9,-10,-11,-12)]
head(u.r.v)
rest <- u.r.v[1,-6]

  movie.id user.id age gender job       rating unknown Action Adventure
1 1        918     40  M      scientist 3      0       0      0
2 1        684     28  M      student   4      0       0      0
3 1        660     26  M      student   3      0       0      0
4 1        339     35  M      lawyer    5      0       0      0
5 1        699     44  M      other     3      0       0      0
6 1         94     26  M      student   4      0       0      0
  Animation ... Fantasy Film.Noir Horror Musical Mystery Romance Sci.Fi
1 1         ... 0       0         0      0       0       0       0
2 1         ... 0       0         0      0       0       0       0
3 1         ... 0       0         0      0       0       0       0
4 1         ... 0       0         0      0       0       0       0
5 1         ... 0       0         0      0       0       0       0
6 1         ... 0       0         0      0       0       0       0
  Thriller War Western
1 0        0   0
2 0        0   0
3 0        0   0
4 0        0   0
5 0        0   0
6 0        0   0

In [20]:
n.item <- u.item[,c(-2,-3,-4,-5)]
n.user <- u.user[,-5]

head(n.item)
head(n.user)

  movie.id unknown Action Adventure Animation Children.s Comedy Crime
1 1        0       0      0         1         1          1      0
2 2        0       1      1         0         0          0      0
3 3        0       0      0         0         0          0      0
4 4        0       1      0         0         0          1      0
5 5        0       0      0         0         0          0      1
6 6        0       0      0         0         0          0      0
  Documentary Drama Fantasy Film.Noir Horror Musical Mystery Romance Sci.Fi
1 0           0     0       0         0      0       0       0       0
2 0           0     0       0         0      0       0       0       0
3 0           0     0       0         0      0       0       0       0
4 0           1     0       0         0      0       0       0       0
5 0           1     0       0         0      0       0       0       0
6 0           1     0       0         0      0       0       0       0
  Thriller War Western
1 0        0   0
2 1        0   0
3 1        0   0
4 0        0   0
5 1        0   0
6 0        0   0

  user.id age gender job
1 1       24  M      technician
2 2       53  F      other
3 3       23  M      writer
4 4       24  M      technician
5 5       33  F      other
6 6       42  M      executive

In [21]:
rest

  movie.id user.id age gender job       unknown Action Adventure Animation
1 1        918     40  M      scientist 0       0      0         1
  Children.s ... Fantasy Film.Noir Horror Musical Mystery Romance Sci.Fi
1 1          ... 0       0         0      0       0       0       0
  Thriller War Western
1 0        0   0

In [ ]:
for (i in seq_len(943)){
    for (j in seq_len(1682)){
        if (m[i,j]==0){
            rest<-rbind(rest,c(n.user[i,],n.item[j,]))
        }
    }
}

In [ ]:
write.csv(rest[-1,],'rest.csv')