In [1]:
### Si donn√©es locales
library(Matrix)
u.user <- read.csv(file='u.user.csv', sep='|', header=T)
u.item <- read.csv(file='u.item.csv', sep='|', header=T)
u.data <- read.csv(file='u.data.csv', sep='|', header=T)

m.sparse <- sparseMatrix(u.data[,1],u.data[,2],x=u.data[,3])
rownames(m.sparse) <- paste('u', 1:nrow(m.sparse), sep='')
colnames(m.sparse) <- paste('i', 1:ncol(m.sparse), sep='')

m <- as.matrix(m.sparse)                # transforme en matrice ordinaire
m.na <- m
m.na[m.na==0] <- NA

# Cosinus normal des lignes d'une matrice
matrix.cos <- function(m) {
     (m %*% t(m)) / ( t(matrix(sqrt(rowSums(m^2)),nrow(m),nrow(m)))
                    * (sqrt(rowSums(m^2))) )
}
# on normalise les ages
u.user.norm <- u.user
u.user.norm$age = (u.user.norm$age - min(u.user.norm$age)) / (max(u.user.norm$age) - min(u.user.norm$age))

# on normalise les votes
u.data.norm <- u.data
u.data.norm$rating = (u.data.norm$rating - min(u.data.norm$rating)) / (max(u.data.norm$rating) - min(u.data.norm$rating))

m.na.norm <- m.na/5
m.norm <- m/5

In [2]:
# merge users and ratings
names(u.user)<- c('user.id','age','gender','job','zip')
head(u.user)
names(u.data)<- c('user.id','movie.id','rating','ts')
head(u.data)

u.r <- merge(u.user, u.data, by = "user.id")
head(u.r)
# merge userRating with movie to have actual movie titles instead of ids
u.r.v <- merge(u.r, u.item, by = "movie.id")
head(u.r.v)

  user.id age gender job        zip
1 1       24  M      technician 85711
2 2       53  F      other      94043
3 3       23  M      writer     32067
4 4       24  M      technician 43537
5 5       33  F      other      15213
6 6       42  M      executive  98101

  user.id movie.id rating ts
1 196     242      3      881250949
2 186     302      3      891717742
3  22     377      1      878887116
4 244      51      2      880606923
5 166     346      1      886397596
6 298     474      4      884182806

  user.id age gender job        zip   movie.id rating ts
1 1       24  M      technician 85711 259      1      875692979
2 1       24  M      technician 85711 264      2      875071713
3 1       24  M      technician 85711 194      4      876892743
4 1       24  M      technician 85711 183      5      875072262
5 1       24  M      technician 85711  40      3      876893230
6 1       24  M      technician 85711 226      3      878543176

  movie.id user.id age gender job       zip   rating ts        movie.title
1 1        918     40  M      scientist 70116 3      891987059 Toy Story (1995)
2 1        684     28  M      student   55414 4      875810928 Toy Story (1995)
3 1        660     26  M      student   77380 3      891406276 Toy Story (1995)
4 1        339     35  M      lawyer    37901 5      891032349 Toy Story (1995)
5 1        699     44  M      other     96754 3      878882272 Toy Story (1995)
6 1         94     26  M      student   71457 4      885870323 Toy Story (1995)
  release.date ... Fantasy Film.Noir Horror Musical Mystery Romance Sci.Fi
1 01-Jan-1995  ... 0       0         0      0       0       0       0
2 01-Jan-1995  ... 0       0         0      0       0       0       0
3 01-Jan-1995  ... 0       0         0      0       0       0       0
4 01-Jan-1995  ... 0       0         0      0       0       0       0
5 01-Jan-1995  ... 0       0         0      0       0       0       0
6 01-Jan-1995  ... 0       0         0      0       0       0       0
  Thriller War Western
1 0        0   0
2 0        0   0
3 0        0   0
4 0        0   0
5 0        0   0
6 0        0   0

In [3]:
library(randomForest)

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

In [4]:
u.r.v<-u.r.v[,c(-6,-8,-9,-10,-11,-12)]

In [5]:
head(u.r.v)

  movie.id user.id age gender job       rating unknown Action Adventure
1 1        918     40  M      scientist 3      0       0      0
2 1        684     28  M      student   4      0       0      0
3 1        660     26  M      student   3      0       0      0
4 1        339     35  M      lawyer    5      0       0      0
5 1        699     44  M      other     3      0       0      0
6 1         94     26  M      student   4      0       0      0
  Animation ... Fantasy Film.Noir Horror Musical Mystery Romance Sci.Fi
1 1         ... 0       0         0      0       0       0       0
2 1         ... 0       0         0      0       0       0       0
3 1         ... 0       0         0      0       0       0       0
4 1         ... 0       0         0      0       0       0       0
5 1         ... 0       0         0      0       0       0       0
6 1         ... 0       0         0      0       0       0       0
  Thriller War Western
1 0        0   0
2 0        0   0
3 0        0   0
4 0        0   0
5 0        0   0
6 0        0   0

In [6]:
# splitting data into 80% train set and 20% test set
modelData<-u.r.v
ind = sample(2, nrow(modelData), replace=TRUE, prob=c(0.8, 0.2))
trainData <- modelData[ind==1, ]
testData <- modelData[ind==2, ]

# use all important data to predict the rating
formula <- as.factor(rating) ~ .

In [7]:
head(formula)

as.factor(rating) ~ .

In [8]:
# build the random forest
rf = randomForest(as.factor(rating) ~., data = trainData, ntree = 10)

# stores true results for the test data
trueResults = as.factor(testData$rating)

# stores the predicted ratings by the previously created random forest rf
predicted = predict(rf, newdata = testData)

In [9]:
head(predicted)

 1  7  8 14 17 19
 4  4  4  4  4  4
Levels: 1 2 3 4 5