In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [47]:
dataset = pd.read_csv("u.data.csv",sep='|',names="user_id,item_id,rating,timestamp".split(","))
dataset=dataset.drop('timestamp',axis=1)

dataset = dataset.iloc[1:,:]

In [48]:
m = np.zeros((943,1682),dtype=np.int8)
for i in range(len(dataset)):
    m[int(dataset.iloc[i,0])-1,int(dataset.iloc[i,1])-1]=int(dataset.iloc[i,2])

In [49]:
dataset.user_id = dataset.user_id.astype('category').cat.codes.values
dataset.item_id = dataset.item_id.astype('category').cat.codes.values
df_item = pd.read_csv('u.item.csv', sep='|')
df_item  = df_item.drop([' video release date ',' movie title ', ' release date ',' IMDb URL '], axis=1)
df_item = df_item.rename(columns={'movie id ': 'item_id'})
df_item.item_id = df_item.item_id.astype('category').cat.codes.values

In [50]:
df_user = pd.read_csv('u.user.csv', sep='|')
df_user  = df_user.drop([' zip'], axis=1)
df_user = df_user.rename(columns={'id ': 'user_id',' age ':'age',' gender ':'gender',' job ':'job'})
df_user.user_id = df_user.user_id.astype('category').cat.codes.values
df_user.gender = df_user.gender.astype('category').cat.codes.values
df_user.job = df_user.job.astype('category').cat.codes.values

In [51]:
dataset = dataset.merge(df_item,how='inner', on='item_id')
dataset = dataset.merge(df_user,how='inner', on='user_id')

In [52]:
dataset.head()

,user_id,item_id,rating,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,job
0,107,842,3,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,44,1,3
1,107,858,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,44,1,3
2,107,124,4,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,44,1,3
3,107,850,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,44,1,3
4,107,997,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,44,1,3

In [53]:
len(dataset.user_id.unique()), len(dataset.item_id.unique())

(943, 1682)

In [98]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [99]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset, test_size=0.2,random_state =0)

In [106]:
clf = RandomForestRegressor(random_state=0,n_jobs=1)

In [107]:
clf.fit(train.iloc[:,3:],train.iloc[:,2:3])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [108]:
pred = clf.predict(test.iloc[:,3:])

In [109]:
pred

array([3.09142857, 3.38305242, 3.60512738, ..., 3.69706912, 3.56979184,
       4.47255495])

In [110]:
np.array(test.rating,dtype=np.int8)

array([4, 4, 1, ..., 3, 4, 4], dtype=int8)

In [111]:
np.mean(abs(np.array(pred,dtype=np.int8)-np.array(test.rating,dtype=np.int8)))

0.9902

In [35]:
#import tensorflow as tf
#gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.9)

#tf.Session(config=tf.ConfigProto(gpu_options=gpu_options,allow_soft_placement=True))

In [36]:
history = model.fit([train.user_id, train.item_id, train.iloc[:,-19:]], train.rating, epochs=25)

Epoch 1/25
80000/80000 [==============================] - 18s 222us/step - loss: 2.3408
Epoch 2/25
80000/80000 [==============================] - 15s 184us/step - loss: 0.9246
Epoch 3/25
80000/80000 [==============================] - 15s 186us/step - loss: 0.8943
Epoch 4/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.8643
Epoch 5/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.8355
Epoch 6/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.8152
Epoch 7/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.8005
Epoch 8/25
80000/80000 [==============================] - 15s 184us/step - loss: 0.7892
Epoch 9/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.7806
Epoch 10/25
80000/80000 [==============================] - 15s 187us/step - loss: 0.7731
Epoch 11/25
80000/80000 [==============================] - 15s 188us/step - loss: 0.7672
Epoch 12/25
80000/80000 [==============================] - 15s 186us/step - loss: 0.7622
Epoch 13/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.7575
Epoch 14/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.7539
Epoch 15/25
80000/80000 [==============================] - 15s 186us/step - loss: 0.7512
Epoch 16/25
80000/80000 [==============================] - 15s 186us/step - loss: 0.7478
Epoch 17/25
80000/80000 [==============================] - 15s 187us/step - loss: 0.7459
Epoch 18/25
80000/80000 [==============================] - 15s 183us/step - loss: 0.7436
Epoch 19/25
80000/80000 [==============================] - 15s 186us/step - loss: 0.7414
Epoch 20/25
80000/80000 [==============================] - 15s 186us/step - loss: 0.7398
Epoch 21/25
80000/80000 [==============================] - 16s 201us/step - loss: 0.7381
Epoch 22/25
80000/80000 [==============================] - 15s 189us/step - loss: 0.7363
Epoch 23/25
80000/80000 [==============================] - 15s 184us/step - loss: 0.7350
Epoch 24/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.7342
Epoch 25/25
80000/80000 [==============================] - 15s 185us/step - loss: 0.7327

In [37]:
y_hat = np.round(model.predict([test.user_id, test.item_id, test.iloc[:,-19:]]),0)
y_true = test.rating

In [38]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_true, y_hat)

0.7021

In [75]:
for i in range(943):
    for j in range(1682):
        if m[i,j]==0:
            m[i,j]=model.predict([pd.DataFrame({'user_id': [i]}),df_item.iloc[j:j+1,0:1],df_item.iloc[j:j+1,-19:]])

162

In [43]:
sum(y_hat.reshape(1,-1)[0]==y_true)

0

In [49]:
np.array(y_true,dtype=np.float32)

array([3., 5., 3., ..., 3., 3., 3.], dtype=float32)

In [52]:
sum((np.array(y_true,dtype=np.float32)-y_hat.reshape(1,-1)[0])<2)

19046

In [62]:
pd.DataFrame([i],columns='user_id')

TypeError: Index(...) must be called with a collection of some kind, 'user_id' was passed

In [65]:
df_item.iloc[272:273,-19:]

,item_id,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
272,272,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [44]:
j

272

In [50]:
max(dataset.user_id)

942

In [71]:
user = pd.DataFrame({'user_id': [i]})

In [ ]:
user.user_id.astype('cat')